// Variables for light theme
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #fff;
$text-color: #212529;

// Variables for dark theme
$primary-color-dark: #8a98ff;
$secondary-color-dark: #adb5bd;
$background-color-dark: #212529;
$text-color-dark: #f8f9fa;

// Header styles
.header {
	/* Set a high z-index value to ensure the header is on top of other elements */
	position: fixed; /* Add this line to make the header fixed */
	top: 0; /* Set the position from the top of the viewport */
	left: 0; /* Set the position from the left of the viewport */
	right: 0; /* Set the position from the right of the viewport */
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// add padding on  right alone of 10px and left side 100px to make the header fixed */
	padding: 0 10px 0 100px;
	background-color: $background-color;
	color: $text-color;
	transition: all 0.3s;

	&.shadow {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	// Dark theme styles
	&.dark {
		background-color: $background-color-dark;
		color: $text-color-dark;
	}

	.logodiv {
		.logo {
			height: 50px;
			width: auto;
		}
	}

	.nav {
		ul {
			display: flex;
			list-style-type: none;

			li {
				margin-right: 20px;

				a {
					color: $primary-color;
					text-decoration: none;
					display: flex;
					color: rgb(10, 18, 30, 0.75);
					letter-spacing: 0.025em;
					text-decoration: none;
					padding: 0.75rem 1.5rem;
					font-weight: 700;

					&:hover {
						color: $secondary-color;
					}
				}
			}
		}
	}

	// Media queries for mobile devices
	@media (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;

		.logodiv {
			margin-bottom: 10px;
		}

		.nav {
			display: none;
			width: 100%;

			ul {
				justify-content: center;

				li {
					margin-right: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

// Dark theme styles for header links
.header.dark {
	.nav {
		ul {
			li {
				a {
					color: $primary-color-dark;

					&:hover {
						color: $secondary-color-dark;
					}
				}
			}
		}
	}
}
