$base-color: #374045;
$accent-color: #00b5ad;
$white: #fff;
$gray: #ddd;

.GalleryWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@media (min-width: 14in) {
		flex-direction: row;
	}

	.tabs-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@media (min-width: 14in) {
			flex-direction: column;
			justify-content: center;
			width: 60%;
			margin-right: 30px;
		}

		.tab {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			width: 50%;
			padding: 15px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			margin-left: 10%;
			margin-right: 10%;

			&:hover {
				background-color: $gray;
			}

			@media (min-width: 14in) {
				margin-right: 15px;
			}

			&.active {
				background-color: $accent-color;
				color: $white;
				border-radius: 5px;

				.circle-container {
					animation: spin 1s linear infinite;
				}
			}

			.tab-title-container {
				display: flex;
				align-items: center;
				justify-content: center;

				.circle-container {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 10px;

					.three-layers-circle {
						position: relative;
						width: 24px;
						height: 24px;
						border-radius: 50%;
						border: 2px solid $base-color;
						animation: pulse 1s linear infinite;

						.inner-circle {
							position: absolute;
							top: 2px;
							left: 2px;
							width: 20px;
							height: 20px;
							border-radius: 50%;
						}
					}
				}

				h4 {
					font-size: 18px;
					margin: 0;
				}
			}

			.tab-content {
				display: none;
				padding: 15px;
				background-color: $white;

				&.open {
					display: block;
				}
			}
		}
	}

	.image-container {
		width: 100%;
		display: flex;
		justify-content: center;

		@media (min-width: 14in) {
			width: 80%;
		}

		.Tipper {
			animation: zoomfromright 1s ease-in-out;
		}

		.Tractor {
			animation: move-right 3s infinite alternate ease-in-out;
		}

		.Truck {
			animation: zoomin 1s ease-in-out;
		}

		.Backhoe {
			animation: bounce 2s infinite alternate ease-in-out,
				slidefromRight 2s ease-in-out;
		}

		.Van {
			animation: zoomin 1s ease-in-out;
		}

		img {
			max-width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	@keyframes move-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50px);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes move-right {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(50px);
		}
	}

	@keyframes bounce {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-10px);
		}
	}

	@keyframes zoomin {
		// zoom from left to right
		from {
			transform: scale(0) translateX(-100%);
		}
		to {
			transform: scale(1) translateX(0);
		}
	}
	@keyframes slidefromRight {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}
	@keyframes zoomfromright {
		from {
			transform: scale(0) translateX(100%);
		}
		to {
			transform: scale(1) translateX(0);
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 181, 173, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(0, 181, 173, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 181, 173, 0);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
