.footer {
	background-color: #f4f4f4;
	padding: 50px;

	.footerContainer {
		max-width: 100%;
		margin: 0 auto;

		.footerTopContainer {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.socialContainer {
				display: inline-flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-around;

				@media screen and (max-width: 768px) {
					flex-direction: column;
				}

				.web {
					display: flex;
					align-items: center;

					img {
						margin-right: 20px;
						width: 25%;
						height: 25%;
						@media screen and (max-width: 768px) {
							width: 50%;
							height: 50%;
						}
					}

					.social_links {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-around;
						@media screen and (max-width: 768px) {
							flex-direction: column;
						}

						a {
							display: inline-flex;
							align-items: center;
							justify-content: center;
							width: 40px;
							height: 40px;
							background-color: #fff;
							border-radius: 50%;
							margin-right: 10px;
							text-decoration: none;
							color: #666;
							font-size: 20px;
							font-weight: 600;

							img {
								width: 20px;
							}
						}
					}
				}

				.routeContainer {
					display: flex;
					align-items: flex-start;
					margin-left: 20px;
					flex-direction: row;
					justify-content: space-around;
					@media screen and (max-width: 768px) {
						flex-direction: column;
						margin-left: 0;
					}
					.routes {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: space-evenly;
						margin-left: 20px;
						@media screen and (max-width: 768px) {
							align-items: center;
							margin-left: 0;
						}
						ul {
							list-style-type: none;
							margin: 0;
							padding: 0;

							li {
								margin-bottom: 10px;

								a {
									color: #666;
									text-decoration: none;
									font-weight: 600;
									text-decoration: none;
									font-size: 14px;
								}
							}
						}
					}
				}
				.address {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-evenly;
					margin-left: 20px;

					ul {
						list-style: none;
						padding: 0;
						margin: 0;

						li {
							margin-bottom: 10px;

							a {
								color: #333;
								display: flex;
								align-items: center;
								text-decoration: none;
								transition: color 0.3s ease;

								&:hover {
									color: #007bff;
								}

								i {
									margin-right: 10px;
								}
							}
						}

						.phone {
							i {
								color: #28a745;
							}
						}

						.mail {
							i {
								color: #007bff;
							}
						}

						.location {
							i {
								color: #dc3545;
							}
						}
					}
				}
			}
		}

		.divider {
			height: 1px;
			background-color: #666;
			margin: 20px 0;

			@media screen and (max-width: 768px) {
				display: none;
			}
		}

		.footerBottomContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.desc {
				color: #666;
				font-size: 14px;
				font-weight: 600;
				margin-right: 20px;
			}

			.otherlinks {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;

					li {
						margin-right: 10px;

						&:last-child {
							margin-right: 0;
						}

						a {
							color: #666;
							text-decoration: none;
							font-weight: 600;
							text-decoration: none;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
