.footer {
	background-color: #f4f4f4;
	padding: 50px;

	.footerContainer {
		max-width: 1200px;
		margin: 0 auto;

		.footerTopContainer {
			display: flex;
			justify-content: space-between;

			.socialContainer {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.web {
					display: flex;
					align-items: center;

					img {
						margin-right: 20px;
						width: 25%;
						height: 25%;
					}

					.social_links {
						display: flex;

						a {
							display: inline-flex;
							align-items: center;
							justify-content: center;
							width: 40px;
							height: 40px;
							background-color: #fff;
							border-radius: 50%;
							margin-right: 10px;
							text-decoration: none;
							color: #666;
							font-size: 20px;
							font-weight: 600;

							img {
								width: 20px;
							}
						}
					}
				}

				.routeContainer {
					display: flex;
					align-items: center;
					margin-left: 20px;
					justify-content: space-between;
					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;

						li {
							margin-bottom: 10px;

							a {
								color: #666;
								text-decoration: none;
								font-weight: 600;
								text-decoration: none;
								font-size: 14px;
							}
						}
					}
				}
			}
		}

		.divider {
			height: 1px;
			background-color: #666;
			margin: 20px 0;

			@media screen and (max-width: 768px) {
				display: none;
			}
		}

		.footerBottomContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.desc {
				color: #666;
				font-size: 14px;
				font-weight: 600;
				margin-right: 20px;
			}

			.otherlinks {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;

					li {
						margin-right: 10px;

						&:last-child {
							margin-right: 0;
						}

						.country-select {
							position: relative;

							.select {
								display: flex;
								align-items: center;
								cursor: pointer;

								.down-icon {
									margin-left: 10px;
									width: 20px;
									height: 20px;
								}

								.selected {
									margin-left: 10px;
									color: #666;
									font-size: 14px;
									font-weight: 600;
								}
							}

							.select-options {
								position: absolute;
								top: 30px;
								right: 0;
								z-index: 1;
								background-color: #fff;
								border: 1px solid #ccc;
								border-radius: 4px;
								max-height: 150px;
								overflow-y: auto;
								padding: 10px;
								box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
								display: none;

								&.show {
									display: block;
								}

								li {
									margin-bottom: 5px;
									font-size: 14px;
									font-weight: 600;
									cursor: pointer;

									&:last-child {
										margin-bottom: 0;
									}

									&:hover {
										color: #fff;
										background-color: #666;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
